@using CodApp.Models
@model ICollection<Newsletter>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>

@if (User.Identity.IsAuthenticated)
{
  <div class="well">
    <p>@Html.ActionLink("View the current Reader List", "Readers")</p>
  </div>
}

@Html.Partial("AddReader", new CodApp.Models.Reader())



<!-- @foreach (var newsletter in Model)
{
    @Html.ActionLink(newsletter.Title, "Detail", new { id = newsletter.Id })
}

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Create a new Newsletter", "Create")
} -->
