@using CodApp.Models
@model ICollection<Newsletter>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>This is the newsletter page</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("View the current Reader List", "Readers")</p>
}

@Html.Partial("AddReader", new CodApp.Models.Reader())


@foreach (var newsletter in Model)
{
    @Html.ActionLink(newsletter.Title, "Detail", new { id = newsletter.Id })
}

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Create a new Newsletter", "Create")
}