@model ICollection<CodApp.Models.Reader>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="mailing-list">
    Current Mailing List:
    @foreach (var reader in Model)
    {
        <li>
            <ul>@reader.Name from @reader.City:
                <li>@reader.Email</li>
            </ul>
        </li>
    }
</ol>