
/*NAV BAR ==========================================================*/
div.bottom-section {
  border-top: 1px solid gray;
  height: 40px;
}

div.link-holder {
    margin-top: 10px;
    color: black;
    position: relative;
    margin-left: 60%;
}

div.link-holder a {
    color: black;
    font-size: 15px;
}

div.nav-bar-holder {
    height: 100%;
}

div.overlay-images {
    position: absolute;
    z-index: 10;
    left: 15%;
    top: 0px;
    width: 40%;
}

div.overlay-images img {
    max-width: 150px;
    width: 100%;
}

div.top-section {
  background-color: lightgray;
  height: 30px;
  border-bottom: .25px solid gray;
}

div.top-buffer {
    height: 15vh;
}

nav.mynavbar {
  height: 10vh;
  width: 100%;
}

/*HOME PAGE ==========================================================*/
