div.bottom-section {
  border-top: 1px solid red;
  height: 70%;
}

div.link-holder {
    position: relative;
    margin-left: 75%;
}

div.overlay-images {
    margin-left: 25%
    width: 50%;
    float: left;
}

div.overlay-images img {
    width: 100%;
    max-width: 150px;
}

div.top-section {
  background-color: gray;
  height: 50%;
  border-bottom: 1px solid darkgrey;
}

div.top-buffer {
    height: 15vh;
}

nav.mynavbar {
  height: 10vh;
  width: 100%;
}