@using CodApp.ViewModels
@model LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
  <div class="well">
    <h2>Log in with your account</h2>
    <hr />
    @using (Html.BeginForm())
    {
      @Html.LabelFor(m => m.UserName)
      <br>
      @Html.TextBoxFor(m => m.UserName)
      <hr>
      @Html.LabelFor(m => m.Password)
      <br>
      @Html.PasswordFor(m => m.Password)
      <br>
      <br>
      <input type="submit" value="Log in" class="btn btn-info"/>
    }
  </div>
  </div>
