@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>This is the home page</h1>

<h2>
@Html.ActionLink("Register a new Admin", "Register", "Administrator")

</h2>
<h2>
@Html.ActionLink("Register a new Admin", "Login", "Administrator")

</h2>
<h2>
@Html.ActionLink("View the Newsletter", "Index", "Newsletter")

</h2>
<h2>
@Html.ActionLink("Go Home", "Index", "Home")

</h2>
